@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Material+Icons&display=swap');
*{
  box-sizing: border-box;
}

html {
  min-height: 100%;
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Fira Sans', 'Arial', sans-serif;
  color: #1E2D2F;
  font-weight: 300;
  background-color: #F5F5F5;
}

/*body, #root{*/
/*  margin-bottom: 112px;*/
/*}*/

nav {
  background: #FFFFFF;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.section {
  padding: 30px 0;
}

.green {
  color:#00CA20 !important;
}

.red {
  color: #CF0000 !important;;
}

.orange {
  color: #F37500 !important;;
}

.grey {
  color: rgba(0, 0, 0, 0.5);
}

h2 {
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;
  margin: 0;
  padding: 0;
}

h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 15px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.search-bar {
  position: relative;
  padding-left: 15px;
}

.search-bar:after{
  content: '\e8b6';
  color: #AFAFAF;
  width: 15px;
  height: 15px;
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

input[type="text"], input[type="password"], input[type="email"] {
  border-radius: 17px;
  font-family: 'Fira Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding: 6px 13px;
}

.search-bar input[type="text"] {
  border: none;
  min-width: 160px;
  transition: ease-in-out 0.3s;
  background: #F5F5F5;
}

.search-bar input[type="text"]::placeholder{
  color: #AFAFAF;
}

.search-bar input[type="text"]:focus {
  min-width: 200px;
}

.navbar {
  padding: 0 30px;
  align-items: stretch;
}

.navbar-brand {
  padding: 15px 0;
}

.navbar-nav {
  height: 100%;
}

.navbar-light .navbar-nav .nav-link {
  padding: 15px;
  color: #1E2D2F;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  transition: ease-in-out 0.3s;
}

.navbar-light .navbar-nav .nav-link:hover{
  background-color: #003CD7;
  color: #ffffff;
}

.navbar-light .navbar-toggler {
  border: 0;
}

.navbar-light .navbar-toggler-icon {
  /*content: '\e5d2';*/
  /*color: #003CD7;*/
  width: 25px;
  height: 25px;
  /*font-size: 25px;*/
  /*background: none;*/
}

.main-banner {
  position: relative;
  min-height: 285px;
}

.banner-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  min-height: 285px;
}

.banner-image img {
  object-fit: cover;
  width: 100%;
  min-height: 285px;
  height: 100%;
}

.banner-content {
  padding: 40px 0;
}

.banner-content h2, .banner-content h3 {
  color: #ffffff;
}

.banner-content h2 {
  font-weight: 500;
  font-size: 42px;
  line-height: 50px;
  margin-bottom: 5px;
  margin-left: 0px;
}

.banner-content h3 {
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  margin-bottom:15px;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  padding: 15px 25px;
  min-width: 195px;
  line-height: 83%;
  border-radius: 4px;
}

.btn-primary {
  background: #003CD7;
  border:2px solid #003CD7;
}

.btn-primary:hover {
  background: #0343e9;
  border:2px solid #0343e9;
}

.btn-secondary {
  background: #77867F;
  border:2px solid #77867F;
}

.btn-secondary:hover {
  background: #5b645d;
  border:2px solid #5b645d;
}

.btn-white {
  background: #ffffff;
  color:#77867F;
  border:2px solid #ffffff;
}

.btn-white:hover {
  background: #ffffff;
  color:#0343e9;
  border:2px solid #0343e9;
}

.watchlist {
  align-items: center;
}

.section .col.watchlist {
  padding: 0 25px;
}

.list--title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #858585;
  margin-bottom: 15px;
  flex: 1 0 0;
}

.list--value {
  font-weight: 300;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #1E2D2F;
}

.card-block {
  padding: 0 12px;
}

.dash-card-block {
     padding-right: 12px;
 }

.card-block .list--title, .dash-card-block .list--title {
  padding-left: 10px;
}

table thead td {
  padding: 0 10px;
}

table td {
  font-weight: 300;
  font-size: 15px;
  color: #1E2D2F;
  padding: 0 10px;
  text-align: left;
}

table tbody tr:nth-child(odd){
  background: #F8F8F8;
}

table tbody tr:nth-child(even){
  background: #F1F1F1;
}

table td .material-icons {
  display:block;
}

.forecast {
  width: 100%;
  flex-wrap: wrap;
  padding-right: 12px;
  font-weight: 300;
  font-size: 16px;
  color: #1E2D2F;
}

.forecast .forecast--title:first-child {
  flex: 0 0 34%;
  margin:0;
  padding-left: 10px;
}

.forecast .card .recommendation-forecast:first-child {
  flex: 0 0 32%;
  margin:0;
  padding-left: 10px;
}

.forecast .forecast--title:nth-child(2){
  flex: 0 0 66%;
  margin:0;
  padding:0;
}

.forecast .card .forecast--values{
  flex: 0 0 68%;
  margin:0;
  padding:0;
}

.forecast .forecast--title .list--title:first-child {
  margin-right: 0px;
}

.forecast .forecast--title .list--title {
  text-align: left !important;
}

.forecast .forecast--title .list--title:last-child {
  padding-right: 25px;
}

.forecast .list--value {
  text-align: left;
}

.forecast .card {
  flex: 1 0 100%;
  flex-wrap: wrap;
}

.forecast .card .upper-forecast, .forecast .card .lower-forecast {
  flex: 0 0 100%;
  margin: 10px 0;
}

.forecast .card .upper-forecast div, .forecast .card .lower-forecast div {
  flex: 1
}

.card {
  background: #FFFFFF;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: none;
  padding: 28px 25px !important;
  margin-bottom: 10px;
}

.forecast-data-table {
  padding: 20px 25px !important;
  overflow-y: scroll;
  height: 300px;
  max-height: 300px;
}

a.card:hover{
  background-color: #e7e7e7;
  text-decoration: none;
}

.watchlist--content {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #1E2D2F;
  flex: 1 0 0;
}

.list--title:first-child {
  flex: 1 0 0;
}

.watchlist--content .full-name {
  flex: 1 0 0;
}

.watchlist--content div:nth-child(1) {
  margin-right: 15px;
  flex-basis: 30%;
}

.watchlist--content div:nth-child(2) {
  flex-basis: 80px;
}

.watchlist--content .full-name {
  color: rgba(0, 0, 0, 0.5);
}

.watchlist--content:first-child, .list--title:first-child {
  margin-right: 15px;
}

.watchlist--content:nth-child(3) {
  color: rgba(0, 0, 0, 0.5);
}

.list--title:nth-child(n+2):nth-child(-n+4), .watchlist--content:nth-child(n+2):nth-child(-n+4){
  text-align: center;
}

footer {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #858585;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  padding: 30px;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .watchlist--content:nth-child(4), .list--title:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 768px) {

  footer {
    position: relative;
    margin-bottom: 30px;
    z-index: 0;
    height: auto;
  }

  .navbar-nav {
    height: auto;
  }
  .navbar-light .navbar-nav .nav-link {
    justify-content: flex-start;
    padding: 20px 30px;
    font-size: 16px;
  }
  .navbar-collapse {
    margin: 0 -30px;
  }

  .search-bar {
    padding: 20px 30px;
    width: 100%;
  }

  .search-bar:after {
    width: 25px;
    height: 25px;
    font-size: 25px;
    right: 45px;
  }

  .search-bar input[type="text"]{
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    font-size: 16px;
  }

  .search-bar input[type="text"]::placeholder{
    font-size: 16px;
  }

  .list--title {
    font-size: 14px;
    line-height: 17px;
  }

  .watchlist--content {
    font-size: 16px;
    line-height: 20px;
  }

  .watchlist--content img {
    width: 30px;
    height: auto;
  }

  .watchlist--content:nth-child(4), .list--title:nth-child(4), .full-name{
    display: none;
  }

  table {
    border: 0;
    font-size: 16px;
  }

  table thead td {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    display: block;
    margin-bottom: 20px;
  }

  table td {
    display: block;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

@media screen and (max-width: 500px){
  .forecast .card .recommendation-forecast:first-child{
    padding-left: 0;
    padding-right: 10px;
  }

  .btn {
    width: 100%;
    display: block;
    min-width: 100%;
    padding: 30px;
  }
}

/* DASHBOARD */
.dashboard-container {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
}
.sidenav {
  background-color: #ffffff;
  min-height: 100%;
  height: 100%;
  width: 152px;
  font-size: 16px;
  color: #77867F;
  top:0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: ease-in-out 0.5s;
}

.sidenav .brand--logo {
  text-align: center;
  margin-bottom:20px;
  padding: 15px;
  transition: ease-in-out 0.5s;
}

.sidenav .navigation--items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  flex-direction: column;
}

.sidenav .navigation--items {
  height: calc(100% - 90px);
}

.sidenav .navigation--items li {
  width: 100%;
  transition: ease-in-out 0.5s;
}

.sidenav .navigation--items li:nth-child(4) {
  margin-top: auto
}

.sidenav .navigation--items li a {
  color: #77867F;
  text-decoration: none;
  padding: 7px 0 7px 15px;
  display: block;
  background-color: #ffffff;
  white-space:nowrap;
  transition: ease-in-out 0.5s;
}

.sidenav .navigation--items li a:hover {
  background-color: #003CD7;
  color: #FFFFFF;
}

.navigation--items li a:before {
  padding-right: 8px;
  font-size: 24px;
  display: inline-block;
  font-family: 'Material Icons';
}

.navigation--items .dashboard--link a:before {
  content: '\e871';
}

.navigation--items .portfolio--link a:before {
  content: '\ef3e';
}

.navigation--items .watchlist--link a:before {
  content: '\e896';
}

.navigation--items .settings--link a:before {
  content: '\e8b8';
}

.navigation--items .logout--link a:before {
  content: '\e8ac';
}

.navigation--items .collapse--link a:before {
  content: '\e314';
}

.sidenav--collapse {
  width: 56px;
}

.sidenav--collapse .navigation--items li {
  width: 56px;
  overflow: hidden;
}

.sidenav--collapse .navigation--items li a {
  padding-left: 15px;
  font-size: 1px;
  white-space:nowrap;
}

.sidenav--collapse .brand--logo {
  overflow: hidden;
  width: 58px;
  padding: 15px 7px;
}

.sidenav--collapse .brand--logo img {
  min-width: 100%;
}

.sidenav--collapse .navigation--items li a:before {
  padding-right: 200px;
}

.sidenav--collapse .navigation--items .collapse--link a:before {
  content: '\e315';
}

.dashboard-content {
 padding: 30px 18px 30px 30px !important;
  height: 100%;
  overflow-y: scroll;
}

.dashboard-content h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #77867F;
  margin-bottom: 25px;
}

.search-bar-dash {
  width: 100%;
  padding-left: 0;
}

.search-bar-dash input[type="text"] {
  width: 100%;
  background-color: #ffffff;
}

.modal-header, .modal-footer {
  border: 0;
}

.modal-footer {
  justify-content: center;
}

table td .material-icons span {
  cursor: pointer;
  color: #77867F;
  transition: ease-in-out 0.2s;
}

table td .material-icons span:hover {
  color: #003CD7;
}

@media screen and (max-width: 500px){
    .dashboard-container {
        flex-direction: column-reverse;
        position: relative;
        padding-bottom: 150px;
    }

    .sidenav {
        width: 100%;
        height: auto;
        min-height: 52px;
        bottom: 0;
        top: unset;
        box-shadow: 0px -1px 4px rgb(0 0 0 / 25%);
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        font-size: 13px;
        z-index: 99;
    }

    .sidenav .brand--logo {
        margin-bottom: 0;
        flex: 1 0 100%;
        order: 2;
        padding: 10px;
    }

    .sidenav .navigation--items {
        height: auto;
        flex: 1 0 auto;
    }
    .sidenav .navigation--items ul {
        flex-direction: row;
    }

    .sidenav .navigation--items li a{
        flex-direction: column;
        padding: 5px;
    }

    .navigation--items li a:before {
        padding-right: 0px;
    }

    .sidenav .navigation--items .collapse--link {
        display: none;
    }

    .dashboard-content {
        margin: 0;
        padding: 20px 8px 20px 20px !important;
        flex-grow: 1;
    }

    table td .material-icons {
      display: flex;
      padding: 20px 0;
    }

    table td .material-icons span {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 30px;
    }

}